<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.jom.supplier">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JOM.Light"
        tools:targetApi="31">
        <activity
            android:name=".bank.ViewBankActivity"
            android:exported="false" />
        <activity
            android:name=".bank.EditBankActivity"
            android:exported="false" />
        <activity
            android:name=".bank.AddBankActivity"
            android:exported="false" />
        <activity
            android:name=".bank.ViewAllBanksActivity"
            android:exported="false" />
        <activity
            android:name=".address.EditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".address.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".address.ViewAddressActivity"
            android:exported="false" />
        <activity
            android:name=".address.ViewAllAddressesActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileMainActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".supply.YardCashActivity"
            android:exported="true">


        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".supply.YardBankActivity"
            android:exported="false" />

        <activity
            android:name=".supply.PickupCashActivity"
            android:exported="false" />
        <activity
            android:name=".supply.PickupBankActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".supply.NewSupplyActivity"
            android:exported="false" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
    </application>

</manifest>